body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: inherit;
    background: bottom;
}
* {
    box-sizing: border-box;
}
h2{
    text-align: center;
}
h5{
    text-align: center;
}
.bg-image {
    /* The image used */
    background-image: url("images.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hi{
    float: left;
}
/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 5px solid white;
position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    z-index: 2;
    align-content: inherit;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.card2{
    float: left;
    background: lightgrey;
    color: black;
}
.card4{
    float: left;

}

.card1{
    float: left;

}
.card3{

    float: left;

}

footer {
    clear: left;



    text-align: center;
    background: gray;


    color: white;


}

footer p {




    padding-top: 2em;
    padding-bottom: 2em;


}

